### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Secrets
client_secret_*.json

# Build artifacts
[Bb]in/
[Oo]bj/
node_modules/
dist/
.env